{% extends 'base.html' %}

{% block content %}

<h2>How does the prediction process work: </h2>

<pre>
    Using a Random Forest classifier that was trained using a wine quality dataset,
    We classify the wines using their physicochemical attributes.

    Since the random forest is an ensemble, made up of many decision trees
    we can count the prediction of each model and see how many of the inner models decided
    that the wine is going to be good and how many decided that the wine will be of poor quality.

    by counting the decisions we get a probability about the wines quality, were if a wine
    is out standing most of models will decide the wine is good, and if the wine is only
    slightly above average the amount models deciding that wine is good is going to be lower.

    In other words, the higher the wine's quality, the more decision trees will decide that wine is good.




</pre>

{% endblock %}